@import "const";

#article-content-wrapper {
    >.footer {
        background-color: @theme_80;
    }

    >.header {
        background-color: @theme_80;
    }
}

#article-list {
    #article-list-category {
        background-color: @theme_80;
        border-top: none;

        >a {
            background-color: @theme_80;
        }
    }

    >.article-list-row {
        >.item {
            >.list-header {
                >span {
                    background-color: @theme_25;
                }
            }

            >.list-title {
                >small.favo {
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-name: swing_heart;
                    animation-timing-function: ease-in-out;
                    display: inline-block;
                    perspective: 100px;
                }
            }
        }
    }

    >.article-list-row.hot {
        >.item {
            >.list-title {
                >small.favo {
                    color: red;
                }
            }
        }
    }
}
#article-neighbor-list {
    padding: 0;

    >div {
        background-color: @theme_85;

        &:hover {
            background-color: @theme_90;
        }

        >.indicator {
            background-color: @theme_80;
            padding: 0 1em;
        }

        >.subject {
            padding: 0 1em;
        }

        >span.author {
            background-color: @theme_80;
            color: @theme_20;
            padding: 0 1em;
            font-weight: 700;
        }
    }
}

#article-reply-area {
    #reply-best-area {
        .reply {
            border-radius: 8px;

            >.reply-header {
                background-color: @theme_80;
                border-radius: 8px 8px 0 0;

                >.reply-writer.logged {
                    color: @theme_25;
                }
            }
        }
    }
    #reply-real-area {
        .reply {
            border-radius: 8px;

            >.reply-header {
                background-color: @theme_80;
                border-radius: 8px 8px 0 0;

                >.reply-writer.logged {
                    color: @theme_25;
                }
            }
        }
    }
    >.header {
        h5 {
            color: @theme_25;
        }
    }
}
#board-info {
    background-color: @theme_65;
    margin-bottom: 0;

    #board-info-bottom {
        #addFavoriteBtn {
            i {
                color: @theme_40;
            }
        }
    }

    #viewers-area {
        background-color: @theme_45;
        border-radius: 12px;
        color: @theme_10;
        padding: 1px 8px;

        #viewers {
            font-weight: 700;
        }

        i {
            display: none;
        }
    }
}

.badge {
    display: none;
}

.badge.badge-live {
    display: inline-block;
}

.list-title {
    .fa-star {
        &:before {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: rotate_star;
            display: inline-block;
            perspective: 100px;
        }
    }
}

.pagination {
    >.active {
        >a {
            background-color: @theme_main;
            border-color: @theme_main;

            &:focus {
                background-color: @theme_main;
                border-color: @theme_main;
            }

            &:hover {
                background-color: @theme_main;
                border-color: @theme_main;
            }
        }

        >span {
            background-color: @theme_main;
            border-color: @theme_main;

            &:focus {
                background-color: @theme_main;
                border-color: @theme_main;
            }

            &:hover {
                background-color: @theme_main;
                border-color: @theme_main;
            }
        }
    }

    >li {
        >a {
            color: @theme_35;

            &:focus {
                color: @theme_35;
            }

            &:hover {
                color: @theme_35;
            }
        }

        >span {
            &:focus {
                color: @theme_35;
            }

            &:hover {
                color: @theme_35;
            }
        }
    }
}

@font-face {
  font-family: "starcraft";
  src: url(https://raw.githubusercontent.com/alexweissman/starcraft-web-icons/master/fonts/font-starcraft.ttf);
}

@font-face {
  font-family: "FontAwesome5-brands";
  src: url(https://use.fontawesome.com/releases/v5.0.1/webfonts/fa-brands-400.ttf);
}

@font-face {
  font-family: "FontAwesome5-regular";
  src: url(https://use.fontawesome.com/releases/v5.0.1/webfonts/fa-regular-400.ttf);
}

@keyframes rotate_star {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

@keyframes swing_heart {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(+10deg);
    }
}

audio {
    max-width: 100%;
}

canvas {
    max-width: 100%;
}

header {
    background: @theme_main;
    margin-bottom: 24px;
    padding-bottom: 0;
}

progress {
    max-width: 100%;
}

video {
    max-width: 100%;
}

