
audio, canvas, progress, video {
  max-width: 100%;
}

header {
  margin-bottom: 24px;
  background: {{ 59 }};
  padding-bottom: 0;
  border-bottom-color: {{ 35 }};
}

header>#header-area>a>h1 {
  background-image: url(https://raw.githubusercontent.com/zhuny/tgd_css/master/crank/logo_new.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

header>#header-area>#header-search-link {
  background-color: {{ 45 }};
  color: {{ 30 }};
}

.frame {
  background-color: {{ 59 }};
}

#goClipBtn {
  margin-right: 42px;
}

#board-info {
  background-color: {{ 65 }};
  margin-bottom: 0;
}

#board-info>h1 {
  width: 100%;
}

#board-info>h1>a {
  color: transparent;
  background-image: url(https://raw.githubusercontent.com/zhuny/tgd_css/master/crank/crank_logo.gif);
  background-size: cover;
  background-position: 0 center;
}

#header-top-notice {
  background-color: {{ 59 }};
}

#header-top-notice strong.notice-badge {
  background-color: {{ 45 }};
}

.badge {
  display: none;
}

.badge.badge-live {
  display: inline-block;
}

nav#nav>.nav-header {
  background-color: {{ 59 }};
  color: {{ 0 }};
}

nav#nav>.nav-header a {
  color: {{ 0 }};
}

header > #header-search-bar #header-search-input {
  border-color: {{ 45 }};
}

header > #header-search-bar #header-search-btn {
  color: {{ 45 }};
}

#board-info #viewers-area {
  background-color: {{ 45 }};
  padding: 1px 8px;
  border-radius: 12px;
  color: {{ 10 }};
}

#board-info #board-info-bottom #addFavoriteBtn i {
  color: {{ 40 }};
}

#board-info #viewers-area #viewers {
  font-weight: 700;
}

#article-content-wrapper>.header {
  background-color: {{ 80 }};
}

#article-content-wrapper>.footer {
  background-color: {{ 80 }};
}

#article-reply-area > .header h5 {
  color: {{ 25 }};
}

#article-reply-area #reply-real-area .reply > .reply-header, 
#article-reply-area #reply-best-area .reply>.reply-header {
  background-color: {{ 80 }};
  border-radius: 8px 8px 0 0;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, 
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: {{ 25 }};
}

#article-reply-area #reply-real-area .reply, 
#article-reply-area #reply-best-area .reply {
  border-radius: 8px;
}

#article-info>h2>span.category {
  font-family: "FontAwesome", "starcraft", "FontAwesome5";
  border-right: 2px solid {{ 50 }};
  padding-right: 4px;
}

#article-list #article-list-category {
  border-top: none;
  background-color: {{ 80 }};
}

#article-list #article-list-category>a {
  background-color: {{ 80 }};
  font-family: "FontAwesome", "starcraft", "FontAwesome5";
}

#article-list>.article-list-row.hot {
  background-color: {{ 75 }};
}

#article-list>.article-list-row.hot>.item>.list-title>small.favo {
  color: red;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #75610b;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
  color: {{ 25 }};
}

#article-list>.article-list-row>.item>a.list-title>.title-value {
  max-width: 180px;
}

#article-list>.article-list-row>.item>a.list-title:visited {
  color: #666666!important;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: {{ 59 }};
  border-color: {{ 59 }};
}

.pagination>li>a {
  color: #a3880f;
}

.list-title .fa-star:before {
  display: inline-block;
  perspective: 100px;
  animation-name: rotate_star;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
  display: inline-block;
  perspective: 100px;
  animation-name: swing_heart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#board-info #viewers-area i {
  display: none;
}

#board-info #viewers-area::before {
  content: "귀한 곳에 누추한 ";
}

#board-info #viewers-area #viewers {
  font-weight: 700;
}

#board-info #viewers-area::after {
  content: "명";
}

@keyframes rotate_star {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes swing_heart {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(+10deg);
  }
  100% {
    transform: rotate(0);
  }
}

#article-list>.article-list-row>.item>a.list-title>.list-writer>.list-category>span {
  font-family: "FontAwesome", "starcraft", "FontAwesome5";
}

@font-face {
  font-family: 'starcraft';
  src: url(https://raw.githubusercontent.com/alexweissman/starcraft-web-icons/master/fonts/font-starcraft.ttf);
}

@font-face {
  font-family: 'FontAwesome5';
  src: url(https://use.fontawesome.com/releases/v5.0.1/webfonts/fa-brands-400.ttf);
}

