@import "common";

header {
    border-bottom-color: @primary_color;

    > #header-area {
        > a {
            > h1 {
                background-image: url(@title_image_url);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        #header-search-link {
            color: @primary_color;
        }
    }
}

nav#nav {
    > .nav-header {
        background-color: @primary_color;
    }
}

#header-top-notice {
    strong.notice-badge {
        background: @primary_color;
    }
}

#article-list {
    > .article-list-row {
        > .item {
            > a.list-title {
                > small.comment-count {
                    color: @primary_color;
                }

                > .list-writer.logged {
                    > span {
                        color: @primary_color;
                    }
                }
            }

            > .list-header {
                > span {
                    background-color: @primary_color;
                }
            }
        }
    }
}

.pagination {
    > .active {
        > a, > span {
            &, &:focus, &:hover {
                background-color: @primary_color;
                border-color: @primary_color;
            }
        }
    }

    > li {
        a, span {
            &, &:focus, &:hover {
                color: @primary_color;
            }
        }
    }
}

#article-reply-area {
    > .header {
        h5 {
            color: @primary_color;
        }
    }
}

#article-reply-area {
    #reply-real-area, #reply-best-area {
        .reply {
            > .reply-header {
                > .reply-writer.logged {
                    color: @primary_color;
                }
            }
        }
    }
}

.btn-primary {
    background-color: @primary_color;
}

#article-list {
    #article-list-category {
        border-top-color: @primary_color;

        &, > a {
            background-color: lighten(@primary_color, 60%);
        }
    }

    > .article-list-row.hot {
        background-color: lighten(@primary_color, 67%);
    }
}

#board-info {
    > a.board-right-menu {
        color: @primary_color;
    }

    #score-area {
        vertical-align: bottom;
        margin-left: 8px;
    }

    #viewers-area {
        .fa-user:before {
            content: url(@icon_image_url);
        }
    }
}

#article-info {
    > h2 {
        span.category {
            color: @primary_color !important;
        }
    }
}

html.darkmode.mb {
    header {
        border-bottom-color: @primary_color;

        > #header-area {
            #header-search-link {
                color: @primary_color;
            }

            >#header-search-link {
                color: @primary_color;
            }
        }

        &.nav-down {
            border-bottom-color: @primary_color;
        }
    }

    nav#nav {
        > .nav-header {
            background-color: @primary_color;
        }

        >.nav-menu-area {
            a{
                &:hover, &.active {
                    color: @primary_color;
                }
            }
        }
    }

    #header-top-notice {
        strong.notice-badge {
            background: @primary_color;
        }
    }

    #article-list {
        > .article-list-row {
            > .item {
                > a.list-title {
                    > small.comment-count {
                        color: @primary_color;
                    }

                    > .list-writer.logged {
                        > span {
                            color: @primary_color;
                        }
                    }
                }

                > .list-header {
                    > span {
                        background-color: @primary_color;
                    }
                    > strong, > b {
                        color: @primary_color;
                    }
                }
            }
        }
    }

    .pagination {
        > .active {
            > a, > span {
                &, &:focus, &:hover {
                    background-color: @primary_color;
                    border-color: @primary_color;
                }
            }
        }

        > li {
            a, span {
                &, &:focus, &:hover {
                    color: white;
                }
            }
        }
    }

    #article-reply-area {
        > .header {
            h5 {
                color: @primary_color;
            }
        }

        #reply-real-area, #reply-best-area {
            .reply {
                > .reply-header {
                    > .reply-writer.logged {
                        color: @primary_color;
                    }
                    >.reply-menu {
                        a {
                            color: @primary_color;
                        }
                    }
                }
            }
        }
    }

    #article-content-wrapper {
        >.header {
            border-top-color: @primary_color;
        }
    }

    .btn-primary {
        background-color: @primary_color;
    }

    #article-list {
        #article-list-category {
            border-top-color: @primary_color;

            &, > a {
                background-color: darken(@primary_color, 17%);
            }
        }

        > .article-list-row{
            &:hover {
                background-color: darken(@primary_color, 20%)!important;
            }

            &.hot {
                background-color: darken(@primary_color, 24%);
            }
        }
    }

    #board-info {
        > a.board-right-menu {
            color: @primary_color;
        }
    }

    #article-info {
        > h2 {
            span.category {
                color: @primary_color !important;
            }
        }
    }

    #comment-write-form-area {
        .fr-toolbar {
            border-top-color: @primary_color;
        }
    }

    .input-group-btn {
        i.fa-search {
            color: @primary_color;
        }
    }

    a {
        color: @primary_color;
    }

    footer {
        a {
            color: @primary_color;
        }
    }
}
